SINOPAC_API_KEY=<fill_me>
SINOPAC_SECRET_KEY=<fill_me>
SINOPAC_PERSON_ID=<fill_me>
SINOPAC_CA_PATH=C:/path/to/Sinopac.pfx
SINOPAC_CA_PASSWORD=<fill_me>

SINOPAC_DEFAULT_SIMULATION=1
SINOPAC_ALLOW_LIVE_SUBMIT=0
SINOPAC_DEFAULT_ORDER_LOT=IntradayOdd
SINOPAC_BUDGET_PER_ORDER=100000
SINOPAC_PRICE_BUFFER_PCT=0.3
SINOPAC_MAX_ORDERS=5
SINOPAC_OBSIDIAN_VAULT_ROOT=C:/path/to/obsidian-vault
